#footer {
    background-image: url('https://i.imgur.com/Pyx5efv.png');
    background-size: cover;
    background-repeat: no-repeat;
    .content-holder {
        padding-top: 78vh;
        opacity: 0.3;
        padding-bottom: 15vh;
    }
}