@import "~bootstrap/scss/bootstrap";

@import "reset";
@import "variables";
@import "fonts";

@import "home";
@import "navbar";
@import "components";
@import "hackathon";
@import "about";
@import "sponsors";